body {
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}


*,
*:before
*:after {
    box-sizing: border-box;
}


/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* intro */
.intro {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background: url(images/grani-ugly-fon-mnogogranniki.jpg)
        center no-repeat;
    background-size: cover;
    
}


/* header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 25px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    
    color: #fff;
    text-decoration: none;
    
    transition: color .2s linear;
    
    padding-bottom: 10px;
}

.nav_link:hover {
    color:dodgerblue
}

.footer {
    color: #fff;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    height: 50px;
    right: 0;
    padding-bottom: 150px;
    padding-right: 200px;
}

.footer_inner {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.contact_logo {
    font-size: 20px;
    text-transform: uppercase;
}

.contact {
     color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.contact_pochta {
    margin: 10px;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    
    text-decoration: none;  
    transition: color .2s linear;
}
.contact_pochta:hover {
    color:dodgerblue
}
