
#window {
    width: 350px;
    height: 400px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150; display:block;
    position: fixed; 
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
} 
.form {
    
    width: 275px; 
    margin: 60px auto 20px auto; 
    text-align: center;
} 

.input {
    width: 260px;
    padding: 5px; 
    margin-bottom: 10px; 
} 

body { 
    width: 100%;
    height: 100vh;
    background-attachment: fixed;  
    background-size: cover;
    background: url(images/grani-ugly-fon-mnogogranniki.jpg) center no-repeat;
    
    max-width: 1200px;
    margin: 0 auto;
}